* {
    box-sizing: border-box;
    margin: 0px;


}

body {
    font-size: 16px;
    font-family: "PT Sans", sans-serif;

}

.container {

    width:548px; /*Ширина блока*/
    height:548px; /*Высота блока*/
    /*overflow:visible;*/
    position:absolute;
    left:50%;
    margin-left: -255px; /*Смещаем блок на половину всей ширины влево*/

    background: lightgrey;
}

.row {

    margin: -3px;
    overflow:visible;
    width:580px; /*Ширина блока*/
    height:32px;



}

.cell {
    width: 25px;
    height: 25px;
    background: lightskyblue;
    border: solid darkgreen 2px;
    display: inline-block;
    border-radius: 10px;
    margin: 2px;

}

.wall {
    width: 29px;
    min-height: 29px;
    text-align: center;
    background: darkgray;
    display: inline-block;
    margin: 0px;


}
.inline-block {
    margin: -4px;
}
